<div class="header">
    <div class="navigation">
        <nav class="header-buttons">

            <div class="left-buttons">
                <button nat-button routerLink="/books">My books</button>
                <button nat-button routerLink="/books">List</button>
                <button nat-button routerLink="/users">Users</button>
            </div> 

            <div class="rght-buttons">
                <button nat-button routerLink="/register">Register/login</button>
            </div>
            
        </nav>
    </div>
</div>