<div class="header">
    <div class="navigation">
        <nav>
            <button nat-button routerLink="/books">My books</button>
            <button nat-button routerLink="/books">List</button>
            <button nat-button routerLink="/users">Users</button>

            <button style = "float: right;" nat-button routerLink="/register" class="register-button">Register/login</button>
        
        </nav>
    </div>

    <div class="header-image-container">
        <img src="assets/livres-2.jpg" alt="bandeau" class="header-banner">
    </div>
</div>