<h2>Register</h2>
<form (ngSubmit)="onRegister()" #registerForm="ngForm">
  <label for="username">Username:</label>
  <input type="text" required [(ngModel)]="username" name="username" id="username">

  <label for="password">Password:</label>
  <input type="password" required [(ngModel)]="password" name="password" id="password">

  <button type="submit">Register</button>
</form>

<!-- Affichage d'un message de succès ou d'erreur -->
<div *ngIf="successMessage" style="color: green;">{{ successMessage }}</div>
<div *ngIf="errorMessage" style="color: red;">{{ errorMessage }}</div>